.container{
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 30px;
}

.social{
    display: flex;
    align-items: center;
    gap: 24px;
}

.icon{
    opacity: 0.6;
    cursor: pointer;
}

.icon:hover{
    opacity: 1;
    transition: all 0.1s;
}